.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48vh;
  padding: 20px;
  margin-bottom: 10px;
}

.draggableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  width: 80px;
  height: 80px;
  float: right;
}


.non-draggable {
  cursor: initial; 
}

.draggableContainer img {
  width: 100%;
}

#topLeft img {
  transform: scaleX(-1) rotate(180deg);
}

#topRight img {
  transform: rotate(180deg);
}

#bottomRight img {
  transform: scaleX(-1);
}

#topLeft {
  margin: 40px 60px 20px 60px;
}

#topRight {
  margin: 40px 60px 20px 60px;
}

#bottomLeft  {
  margin: 20px 60px 0px 60px;
}

#bottomRight  {
  margin: 20px 60px 0px 60px;
}

.hrContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

hr {
  width: 100vw;
  border: none;
  border-top: 10px solid grey;
}

.playerHeader {
  font-weight: 400;
  font-size: 25px;
  height: 60px;
  display: flex;
  align-items: center;
}

body {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}

.popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}

.gameModePopup {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameModePopup h2 {
  margin-bottom: 20px;
}

.gameModePopup button {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gameModePopup button:hover {
  background-color: #4681f4;
}

.difficulty-selection {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.difficulty-selection label {
  display: flex;
  align-items: center;
  margin: 0px 40px 0px 40px;
  font-size: 18px;
}

.difficulty-selection input[type="radio"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

#popupHeader {
  font-size: 20px;
  margin: 10px;
}

#info-button {
  font-size: 18px;
  font-weight: bold;
  background-color: #55c2da;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

#info-button:hover {
  background-color: #4681f4;
  cursor: pointer;
}

.info-box {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}

.info-content {
  background-color: white;
  width: 80%;
  max-width: 500px; /* Adjust as needed */
  padding: 20px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
}

.info-content h3 {
  font-size: 28px;
}

.info-content p {
  margin-bottom: 10px;
}

.info-content img{
  width:50%;
}

.gifWrapper {
  display: flex;
  justify-content: center;
  margin:5px;
}

#closeInfo {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#closeInfo:hover {
  background-color: #4681f4;
  cursor: pointer;
}

#youWinPopup {
  display: none;
  position: fixed;
  flex-direction: column;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
}

#youWinPopup.popup {
  background-color: white;
  border: black 1px solid;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  position: fixed;
}

#youWinPopup.popup h2 {
  margin-bottom: 40px;
  font-size: 18px;
}

#youWinPopup.popup button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #55c2da;
  color: white;
  border: none;
  margin-top: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0px;
}

#splitButton {
    font-size: 20px;
    background-color: #55c2da;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px 10px 40px 10px;
    transition: background-color 0.3s ease
}

#splitButton:hover {
  background-color: #4681f4;
}

.active-player {
  border-radius: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #a3eaaa;
}

.text {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.non-draggable {
  opacity: 0.5;
  cursor: default;
}

.hand {
  transition: transform 0.5s ease-in-out;
}

.move-towards-bottom-left {
  transform: translate(50px, 50px) !important;
}

.move-towards-bottom-right {
  transform: translate(-50px, 50px) !important;
}

.move-towards-center {
  transform: translate(0, -25px) !important;
}

.move-away-from-center {
  transform: translate(0, 25px) !important;
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 720px) {
}

@media only screen and (max-width: 480px) {
  .draggable {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    width: 100px;
    height: 100px;
    float: right;
  }
  #topLeft {
    margin:40px 60px 0px 0px;
  }
  
  #topRight {
    margin:40px 0px 0px 60px;
  }
  
  #bottomLeft {
    margin:20px 60px 0px 0px;
  }
  
  #bottomRight {
    margin:20px 0px 0px 60px;
  }

  .difficulty-selection label {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
    font-size: 14px;
  }
}
