.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
}

.draggableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  width: 100px;
  height: 100px;
  float: right;
  margin: 60px;
}

.non-draggable {
  cursor: initial; /* or any other style to indicate non-draggable */
}

.draggableContainer img {
  width: 100%;
  height: 100%;
}

#topLeft img {
  transform: scaleX(-1) rotate(180deg);
}

#topRight img {
  transform: rotate(180deg);
}

#bottomRight img {
  transform: scaleX(-1);
}

/* Ensure hrContainer is a flex item */
.hrContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
/* Style for hr element */
hr {
  width: 100vw;
  border: none;
  border-top: 10px solid grey;
}

header {
  font-weight: 400;
  font-size: 25px;
}

body {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}

.popup-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}

#gameModePopup.popup {
  background-color: white;
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  z-index: 1001;
}

#gameModePopup.popup h2 {
  margin-bottom: 20px;
}

#gameModePopup.popup button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#gameModePopup.popup button:hover {
  background-color: #4681f4;
}

.difficulty {
  display: flex;
  justify-content: space-between; /* Align items to opposite ends */
  align-items: center; /* Center items vertically */
  padding: 10px; /* Adjust padding as needed */
}

#difficulty-selection label {
  display: flex;
  align-items: center;
  font-size: 15px;
}

#difficulty-selection input[type="radio"] {
  width: 15px; /* Adjust size as needed */
  height: 15px;
  margin-right: 10px;
}

#difficulty-selection {
  display: flex;
  justify-content: space-between;
  width: 200px; /* Adjust as needed */
  margin-bottom: 20px;
}

#botType {
  margin: 10px;
}

#popupHeader{
  font-size: 20px;
  margin: 10px;
}

#info-button {
  position: absolute;
  left: 50%;
  margin-bottom: 180px;
  margin-left: 140px;
  font-size: 18px;
  font-weight: bold;
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

#info-button:hover {
  background-color: #4681f4;
}

.info-box {
  display: none;
  width: 300px;
  position: absolute;
  top: 0;
  left: 100%; /* Position to the right of the #info-button */
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
}

/* CSS to show info-box when #info-button is hovered */
#info-button:hover + .info-box {
  display: block;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

#youWinPopup {
  display: none;
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
}

#youWinPopup.popup {
  background-color: white;
  padding: 120px;
  border-radius: 20px;
  text-align: center;
  position: fixed;
}

#youWinPopup.popup h2 {
  margin-bottom: 20px;
  font-size: 18px;
}

#youWinPopup.popup button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.split-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.splitBox {
  background-color: white;
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.splitBox h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.splitBox > div {
  margin-top: 20px; /* Adjust spacing between h2 and buttons */
}

#closeSplit {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#closeSplit:hover {
  background-color: #4681f4;
}

#splitOptions {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: stretch; /* Stretch items to full width */
}

#splitOptions button {
  flex: 1; /* Each button takes up full width */
  margin: 5px 0; /* Adjust vertical margin between buttons */
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.split-option img {
  width: 30px; /* Adjust image width */
  height: auto; /* Maintain aspect ratio */
}

#splitOptions button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

#splitButton {
  position: absolute;
  margin-left: 300px;
  margin-bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#splitButton:hover {
  background-color: #4681f4;
}

.active-player {
  border-radius: 25px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #a3eaaa;
}

.text {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.non-draggable {
  opacity: 0.5;
  cursor: default;
}

.hand {
  transition: transform 0.5s ease-in-out;
}

.move-towards-bottom-left {
  transform: translate(50px, 50px) !important;
}

.move-towards-bottom-right {
  transform: translate(-50px, 50px) !important;
}

.move-towards-center {
  transform: translate(0, -25px) !important;
}

.move-away-from-center {
  transform: translate(0, 25px) !important;
}